extends layout

block content
    .container
        br
        h1
            center 
                b Gestor do Arquivo Filmes
        hr
        h3 
            center Página de Erro
        hr
        br 
        div(style="text-align: center")
            p= erro
        br
        hr
        h6 <center><b>Aplicação <i>WEB</i> desenvolvida pelo aluno:</b></center>
            br
            div(style="text-align: center")
                p Diogo Nogueira - a78957@alunos.uminho.pt - <a href='http://github.com/diogoesnog'> GitHub </a>
        br
        h6
            a(href="/filmes/") <center>Voltar à <i>Homepage</i></center>
        hr