extends layout

block content

    .container
        br
        h1(class="display-3")
            center 
                strong Prémios Nobel
        h3
            center Lista de Laureados
        br 
        
        .container
            table.table.table-stripped
                thead.thead
                    tr
                        th.bg-dark.text-light Surname do Laureado
                    tr
                thead
                    each laureado in laureados
                        tr
                            td= laureado.surname