<%- include('partials/header') %>
<br>
<br>
<br>
<br>

<div class="container-fluid">
    <form>
        <div class="form-group m-5 p-5">
            <h1 class="text-center font-weight-bold">Insert your Email</h1>
            <label for="email"></label>
            <input type="email" name="email" id="email" class="form-control" autofocus>
            <button id="sendemail" class="btn btn-muted2 btn-sm btn-block shadow-sm py-1 px-3 mt-2 text-muted2 border">
                Submit Your Request
            </button>
        </div>
    </form>
</div>

<script type="text/javascript">
    require(['./scripts/main'], (main) => {
        require(['modules/resetPassword/main-resetPassword']);
    });
</script>

<%- include('partials/footer') %>