<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ISN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jQuery -->
    <script src="/scripts/external/jQuery/jquery-3.4.1.min.js"></script>

    <!-- Bootstrap and Others -->
    <link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/stylesheets/external/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/loginRegister.css">
    <link rel="stylesheet" href="/stylesheets/external/animate/animate.css">

    <script src="/scripts/external/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/scripts/modules/login.js"></script>

</head>

<body>
    <% if( message !== undefined && message.length > 0 ) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= message %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% } %>
    <div class="main">

        <section class="sign-in">
            <div class="container">
                <div class="signin-content" id="login-form-container">
                    <div class="signin-image">
                        <figure><img src="images/Login.png"></figure>
                    </div>
                    <div class="signin-form">
                        <h2 class="form-title pt-3">Login</h2>
                        <form method="post" action="/login" class="register-form" id="login-form">
                            <div class="form-group pt-2">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="username" id="usernameInput" placeholder="Username" required
                                    autofocus />
                            </div>
                            <div class="form-group pt-2">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="passwordInput" placeholder="Password"
                                    required />
                            </div>
                            <div class="form-group pt-4">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                                <div class="float-right pt-4 mt-2">
                                    <a href="#" id="call-register" class="signup-image-link">Register</a>
                                    <a href="/forgotpasswordpage" class="signup-image-link">Lost Password</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section class="signup">
            <div class="container">
                <div class="signin-content" id="register-form-container" style="display:none">
                    <div class="signup-image">
                        <figure><img src="images/Register.png"></figure>
                    </div>
                    <div class="signin-form">
                        <h2 class="form-title pt-2">Register</h2>
                        <form method="post" action="/register" class="register-form" id="register-form">
                            <div class="form-group pt-2">
                                <label for="name"><i class="zmdi zmdi-account-o material-icons-name"></i></label>
                                <input type="text" name="name" id="nameInput" placeholder="Full Name" required
                                    autofocus />
                            </div>
                            <div class="form-group pt-2">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="emailInput" placeholder="E-mail" required />
                            </div>
                            <div class="form-group pt-2">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="username" id="usernameInput" placeholder="Username" required />
                            </div>
                            <div class="form-group pt-2">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="passwordInput" placeholder="Password"
                                    required />
                            </div>
                            <div class="form-group form-button pt-2">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register" />
                                <div class="float-right pt-4 mt-3">
                                    <a href="#" id="call-login" class="signup-image-link">Login</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </div>

</body>

</html>