<%- include('partials/header') %>
<br>
<br>
<br>
<br>

<div class="container-fluid">
    <form>
        <div class="form-group m-5 p-5">
            <h1 class="text-center font-weight-bold">Insert your new Password</h1>
            <label for="newpassword"></label>
            <input type="password" name="newpassword" id="newpassword" class="form-control" autofocus>
            <input name="token" id="token" type="text" hidden value="<%= token %>">
            <button id="newpasswordbtn" class="btn btn-muted2 btn-sm btn-block shadow-sm py-1 px-3 mt-2 text-muted2 border">
                Submit New Password
            </button>
        </div>
    </form>
</div>

<script type="text/javascript">
    require(['../scripts/main'], (main) => {
        require(['modules/resetPassword/main-resetPassword']);
    });
</script>

<%- include('partials/footer') %>