<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ISN</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- RequireJS Modules -->
        <script src="/scripts/external/require.js"></script>
<!--        <script data-main="../scripts/main" src="../scripts/external/require.js"></script>-->
        <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
        <!-- Stylesheets -->
        <link rel="stylesheet" href="/stylesheets/external/bootstrap/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/external/dropzone/dropzone.min.css">
        <link rel="stylesheet" href="/stylesheets/external/quill/quill.snow.css">
        <link rel="stylesheet" href="/stylesheets/external/jquery/plugins/jquery-confirm/jquery-confirm.css">
        <link rel="stylesheet" href="/stylesheets/external/tagify/tagify.css">
        <link rel="stylesheet" href="/stylesheets/external/highlight/default.css">
        <link rel="stylesheet" href="/stylesheets/external/animate/animate.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />

        <link rel="stylesheet" href="/stylesheets/general-style.css">



    </head>
<body>

<div id="alerts-container">
    <!-- User alerts will go here -->
</div>


<!-- New Group Modal -->
<div class="modal fade" id="new-group" tabindex="-1" role="dialog" aria-labelledby="new-groupModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center font-weight-bold" id="exampleModalLabel">Groups</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group px-3">
                    <h5>Create or Join a Group</h5>

                    <ul class="nav nav-pills nav-fill mt-4">
                        <li class="nav-item">
                            <a href="#new-group-tab" class="nav-link active text-muted2" data-toggle="tab">New Group</a>
                        </li>
                        <li class="nav-item">
                            <a href="#join-group-tab" class="nav-link text-muted2" data-toggle="tab">Join Group</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="new-group-tab">
                        <form action="/group/new" method="post">
                            <div class="col-auto px-3">
                                <label class="font-weight-bold" for="group-visibility">Audience</label>
                                <select class="custom-select" id="group-audience" name="audience">
                                    <option value="false" selected>Private</option>
                                    <option value="true">Public</option>
                                </select>
                            </div>

                            <div class="form-group px-3 mt-2 font-weight-bold">
                                <label for="group-name">Group Name</label>
                                <input type="text" class="form-control" id="group-name" name="name" placeholder="Group Name..." required>
                            </div>

                            <div class="form-group px-3 mt-2 font-weight-bold">
                                <label for="group-name">Description</label>
                                <textarea class="form-control" id="group-description" name="description" placeholder="Group description"></textarea>
                                <button type="submit" class="btn btn-muted2 btn-sm btn-block shadow-sm py-1 px-3 mt-2 text-muted2 border">
                                    Create Group
                                </button>
                            </div>

                        </form>
                    </div>
                    <div class="tab-pane fade" id="join-group-tab">
                        <form action="/group/join" method="post">

                            <div class="form-group px-3 mt-2 font-weight-bold">
                                <label for="group-name">Group Names</label>
                                <input type="text" class="form-control" id="group-names" name="groupnames" placeholder="Group Name..." required>
                                <small id="chatRoomParticipantsHelp" class="form-text text-muted">Wait for suggestions...</small>
                                
                                <button type="submit" class="btn btn-muted2 btn-sm btn-block shadow-sm py-1 px-3 mt-2 text-muted2 border">
                                    Join Group(s)
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('nav') %>