extends layout
block content
        .container-fluid
            br
            h1 <center><b>Gestor de Tarefas</b></center>
            h3 <center>Erro</center>
            
            hr

            br
            div(style="text-align: center")
                p= mensagemErro
            br
            
            hr

            h6 <center><b>Aplicação <i>WEB</i> desenvolvida pelo aluno:</b></center>
                br
                div(style="text-align: center")
                    p Diogo Nogueira - s78957@alunos.uminho.pt - <a href='http://github.com/diogoesnog'> GitHub </a>
            hr