
*.ini
TPC 5/listaTarefas/node_modules
TPC 6/arqSonoro/node_modules
TPC 7/arqFilmes/node_modules
TPC 8/premiosNobel/node_modules
Exercícios Aula/EX 1 - Obras/node_modules
Exercícios Aula/EX 2 - CLAV API (Entidades)/node_modules