extends layout

block content
    .container
        br
        h1(class="display-3")
            center 
                strong CLAV API
        h3
            center Página Erro 
        br
        hr

        br
            center mensagemErro
        hr
        br
        h6 <center><b>Aplicação <i>WEB</i> desenvolvida pelo aluno:</b></center>
            br
            div(style="text-align: center")
                p Diogo Nogueira - a78957@alunos.uminho.pt - <a href='http://github.com/diogoesnog'> GitHub </a>
        br
        h6
            a(href="/") <center>Voltar à <i>Homepage</i></center>
        hr
