extends layout
block content
    .w3-container
        .w3-card-4
            header.w3-container .w3-teal
                h3 Erro
            .w3-container
                p=e
            footer.w3-container .w3-teal
                adress Gerado por Gestão de Alunos App