html(lang='pt')
    head
        title= 'TP2 PL'
        link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' rel='stylesheet', integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk', crossorigin='anonymous')
    body
        .container.justify-content-center
            #titulo.row
                .col
                    h1 Pug - node template engine
            #linha.row
                #coluna.col
                    p
                        | Este é o segundo <em>trabalho prático</em> de Processamento de Linguagens.
                        | O objetivo do trabalho é converter um ficheiro pug para html.
                #coluna2.col.justify-content-center
                    img(src='logo.png')
            #linha.row.justify-content-center
                #coluna.col.justify-content-center
                    p <b>Este trabalho foi engraçado de se fazer.</b>